_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
/node_modules/
/examples/
*.txt
*.db
patterns copy.json
patterns.json
assets/enhanced_bad_words.json
assets/accept_words.json
assets/bad_words.json
assets/warn_words.json
