_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
/node_modules/
/examples/
*.txt
*.db
*.lnk
*.bin
patterns copy.json
patterns.json
assets/enhanced_bad_words.json
assets/accept_words.json
assets/bad_words.json
/tdf_env/
assets/warn_words.json
assets/member_info_top_rate.bin.zip
assets/js/member_info_top_rate.js
assets/member/old/
assets/member_name/old/
*.csv
*.xlsx
/temp
*.rar
category.py
/l_BaseKit_p_2024.2.1.100_offline
*.sh
/intel-extension-for-tensorflow
*.disabled
