.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  text-decoration: none;
}
#searchInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
.pink {
  background-color:pink;
  border-radius:5px;
}
.aquamarine {
  background-color:aquamarine;
  border-radius:5px;
}
.skyblue {
  background-color:skyblue;
  border-radius:5px;
}
.orange {
  background-color:orange;
  border-radius:5px;
}
.violet {
  background-color:violet;
  border-radius:5px;
}
.yellow {
  background-color:yellow;
  border-radius:5px;
}
.wheat { /* 背景色-1 */
  background-color:wheat;
  border-radius:5px;
}
.lightgrey { /* 背景色-2 */
  background-color: lightgrey;
  border-radius:5px;
}
.result {
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
.item {
  opacity: 0;
  font-size: 24px;
  transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1),
              transform 0.5s ease-out;
  width: 80%;
  margin-bottom: 64px;
}
.btn {
  display: block;
  padding: 16px 32px;
  border-radius: 3px;
  background-color: #555;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #333;
}
.sidebar-group-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
hr {
  border: none;
  border-top: 1px solid white;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  height: 40px;
}
.sidebar-link {
  height: 40px;
  cursor: pointer;
  display: flex;
  color: white;
  align-items: center;
  padding-left: 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}
.sidebar-link:visited {
  color: white;
}
.cur {
  background-color: #555;
}
.sidebar-link:hover {
  background-color: grey;
  text-decoration: none;
  color: black;
}
.content {
  margin-left: 240px;
  padding: 20px;
}
