<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
  <script>LA.init({id:"3LTNMctPRNmiv7MN",ck:"3LTNMctPRNmiv7MN"})</script>
</head>
<body>
  <div class="sidebar" id="sidebar-container">
    {% assign no_group_pages = "" | split: "," %}
    {% assign grouped_pages = "" | split: "," %}
    
    {% for p in site.pages %}
      {% unless p.title == nil %}
        {% assign title_parts = p.title | split: " - " %}
        {% if title_parts.size > 1 %}
          {% assign group = title_parts[0] | strip %}
          {% assign grouped_pages = grouped_pages | push: p %}
        {% else %}
          {% assign no_group_pages = no_group_pages | push: p %}
        {% endif %}
      {% endunless %}
    {% endfor %}

    <!-- {# 显示未分组内容 #} -->
    {% for _page in no_group_pages %}
      <a href="{{ _page.url | relative_url }}"
       {% if _page.url == page.url %}class="sidebar-link cur"{% else %}class="sidebar-link"{% endif %} >
        {{ _page.title }}
      </a>
    {% endfor %}
    <hr>

    <!-- {# 创建分组显示 #} -->
    {% assign groups = grouped_pages | group_by_exp: "item", "item.title | split: ' - ' | first | strip" %}
    {% for group in groups %}
      <div class="sidebar-group">
        <div class="sidebar-group-name">{{ group.name }}<hr></div>
        {% for _page in group.items %}
          {% assign display_title = _page.title | remove_first: group.name | remove_first: " - " %}
          <a href="{{ _page.url | relative_url }}"
            {% if _page.url == page.url %}class="sidebar-link cur"{% else %}class="sidebar-link"{% endif %} >
            {{ display_title }}
          </a>
        {% endfor %}
      </div>
    {% endfor %}
    <hr>
  </div>

  <div class="content">
    {% if page.url contains "notice" %}
      <h2 id="{{ page.title | slugify }}">{{ page.title }}</h2>
      💥 顺带宣传一下，<em><strong>加入小班可以查看最新公告嗷 </strong></em><br>
      <a href="{{ site.baseurl }}/joinus.html" target="_blank">👉 点此查看入班攻略 👈</a><p></p>
      <div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>原创 @莲雾麦片和花卷 于百词斩小班公告
谢绝商用或AI训练
转载请标明出处和原文链接</code></pre></div></div>
    {% endif %}
    {% assign content_paragraphs = content | split: '<p>' %}
    {% for paragraph in content_paragraphs %}
      <div class="item">{{ paragraph }}</div>
    {% endfor %}
  </div>
<div id="vue-app"></div>
<br><br><br>
</body>
<script src="{{ '/assets/js/bundle.js' | relative_url }}"></script>
<script type="text/javascript" src="https://js.users.51.la/21949163.js"></script>
<script>
  const fadeController = {
    elements: [],
    init() {
      this.elements = [...document.querySelectorAll('.item')];
      this.addListeners();
      const vh = window.innerHeight;
      this.elements.forEach(el => {
        const rect = el.getBoundingClientRect();
        const ratio = Math.min((vh - rect.top) / (vh + rect.height) + 0.5, 1);
        el.style.opacity = Math.max(ratio, 0);
        el.style.transform = `translateY(${(1 - ratio) * 120}px)`;
      });
    },
    reinit() {
      this.elements = [...document.querySelectorAll('.item')];
      const vh = window.innerHeight;
      this.elements.forEach(el => {
        const rect = el.getBoundingClientRect();
        const ratio = Math.min((vh - rect.top) / (vh + rect.height) + 0.5, 1);
        el.style.opacity = Math.max(ratio, 0);
        el.style.transform = `translateY(${(1 - ratio) * 120}px)`;
      });
    },
    addListeners() {
      let lastTime = 0;
      const throttle = 100; // ms
      
      window.addEventListener('scroll', () => {
        const now = Date.now();
        if(now - lastTime > throttle) {
          requestAnimationFrame(this.updateElements.bind(this));
          lastTime = now;
        }
      });
    },
    updateElements() {
      const vh = window.innerHeight;
      
      this.elements.forEach(el => {
        const rect = el.getBoundingClientRect();
        const ratio = Math.min((vh - rect.top) / (vh + rect.height) + 0.5, 1);
        el.style.opacity = Math.max(ratio, 0);
        el.style.transform = `translateY(${(1 - ratio) * 120}px)`;
      });
    }
  };
  function addCopyListener(element) {
    element.addEventListener("click", function () {
      navigator.clipboard.writeText(element.innerText).then(
        () => {alert("复制成功awa");},
        (err) => {
          // 尝试使用 execCommand 进行复制
          try {
            // 选中元素
            var range = document.createRange();
            range.selectNode(element);
            var selection = window.getSelection();
            selection.removeAllRanges();
            selection.addRange(range);
            // 执行复制
            if (document.execCommand("copy")) alert("复制成功ω▼ω");
            else alert("复制失败ωΔω请手动复制");
            // 取消选中元素
            selection.removeAllRanges();
          } catch (e) {
            alert("复制失败qwq请手动复制", e);
          }
        }
      );
    });
  }
  function addCopyButton(element=null) {
    if (element) {
      addCopyListener(element);
    } else {
      document.querySelectorAll(".copy-btn").forEach(function (btn) {
        addCopyListener(btn);
      });
    }
  }
  document.addEventListener("DOMContentLoaded", function () {
    fadeController.init();
    addCopyButton();
  });
</script>
</html>